* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  display: flex;
  width: 100%;
}
.mainDiv {
  width: 100%;
}
@media (max-width: 700px) {
  .body {
    flex-direction: column;
  }
  .header {
    width: 85%;
  }
}
.welcomeMessage{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 100px 250px;
  text-align: center;
  color: grey;
}
.welcomeMessage button{
  width: 40%;
  margin: 0px 150px;
  background-color: blue;
}